# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.build/
*.dist/

# Nuitka
*.onefile-build/
*.exe.manifest

# SQLite
db.sqlite3

# Firebase
.firebase*
cloud/*.json

# VS Code
.vscode/

# Otros
dataconnect*